@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
.toolbar {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
    container-text-color: var(--mat-sys-on-primary),
  ));
}
.toolbar-title {
    margin-left: 1rem;
}
.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.mainnav{
    width: 300px;
}
.spacer {
  flex: 1 1 auto;
}
