/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use '_theme-colors' as themeColors;

html {
    @include mat.theme((color: themeColors.$primary-palette));

    @media (prefers-contrast: more) {
        @include themeColors.high-contrast-overrides(color-scheme);
    }

    @include mat.theme-overrides((corner-full:5px));
}

.tertiary {
    @include mat.theme((color: themeColors.$tertiary-palette));
    @include mat.theme-overrides((corner-full:5px));
}

.error {
    @include mat.theme((color: themeColors.$error-palette));
    @include mat.theme-overrides((corner-full:5px));
}

.secondary {
    @include mat.theme((color: themeColors.$secondary-palette)); 
    @include mat.theme-overrides((corner-full:5px));
}

.heading {
    color: var(--mat-sys-error);
}

//multiple theme class
.light-blue {
  color-scheme: light;
  @include mat.theme((
    color: mat.$cyan-palette,
  ));
}
.light-red {
  color-scheme: light;
  @include mat.theme((
    color: mat.$red-palette,
  ));
}
.light-green {
  color-scheme: light;
  @include mat.theme((
    color: mat.$green-palette,
  ));
}

.dark-blue {
  color-scheme: dark;
  @include mat.theme((
    color: mat.$cyan-palette,
  ));
}
.dark-red {
  color-scheme: dark;
  @include mat.theme((
    color: mat.$red-palette,
  ));
}
.dark-green {
  color-scheme: dark;
  @include mat.theme((
    color: mat.$green-palette,
  ));
}
//multiple theme class ends

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}